
<div class='well'>
  <h2>Daily time for your projects</h2>
  <h4>You can make a lot of progress if you work on all your tasks every day, even for a short amount of time. How much time can you dedicate?</h4>

  <form action='/availability' method='post'>
    <label for='availability'>Daily time (hours)</label>
    <input type='text' id='availability' name='time_available'/>
    <input type='submit' class='btn'/>
  </form>
</div>