<html>
  <head>
    <title> Sprinter
    </title>
  </head>
  <body>
    <div class="hero-unit">
    <h1 align='center'>Introducing <span id='sprinter'>Sprinter</span></h1>
      <p align='center'>Long term project planning is hard. Why not just plan your two week goals and commit to working on them daily?</p>
        </br>
      <p align='center'>Enter your name and let's get started</p>
      <form align='center' action='/new_user' method='post'>
        <label for='username'></label>
        <input type='text' id='username' name='username'/>
        </br>
        <input type='submit' class='btn btn-primary'/>
      </form>
      </p>
  </div>
    </div>
  </body>
</html>