<h2>How much time do you have available to work on these sprint tasks?</h2>

<form action='/availability' method='post'>
  <label for='availability'>Time available</label>
  <input type='text' id='availability' name='time_available'/>
  <input type='submit' class='btn'/>
</form>