<h2>Hi, what's your name?</h2>

<form action='/new_user' method='post'>
  <label for='username'></label>
  <input type='text' id='username' name='username'/>
  <input type='submit' class='btn'/>
</form>