<h2>How much time do you plan to work on these sprint tasks every day?</h2>

<form action='/availability' method='post'>
  <label for='availability'>Daily time (hours)</label>
  <input type='text' id='availability' name='time_available'/>
  <input type='submit' class='btn'/>
</form>