<!DOCTYPE html>
<html>
  <head>
    <title>Sprinter</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Kadwa">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top" style='background-color:white; box-shadow:0px 5px 5px rgba(100, 100, 100, .25)'>
      <div class="navbar-reverse">
        <div class="container">
            <ul class="nav">
              <li>
                <h4 id='logo'>Sprinter</h4>
              </li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
      <%== yield %>
  </div>
  </body>
</html>
