

<form action='/add_project' method='post'>
  <h2>What do you want to finish in the next two weeks?<h2>
    <label for='name'>Task name:</label>
    <input type='text' id='name' name='project_name'/>
    <label for='time'>How many minutes will it take?:</label>
    <input type='text' id='time' name='project_minutes'/>
    </br>
    <input type='submit' align='left' class='btn'/>
</form>