<div class='well'>
  <h2>Projects</h2>
  <% session[:projects].each do |name, time| %>
    <p>Name: <%= name %></p>
    <p>Time: <%= time %></p>
  <% end %>
  <p>Time available: <%= session[:time_available] %></p>
</div>
  </br>
<div>
  <form action='/project_entry' method='get'>
    <button type='submit' class='btn btn-info'>Add project</button>
  </form>
  <form action='/calculate_sprint' method='post'>
    <button type='submit' class='btn btn-info'>See results</button>
  </form>
  <form action='/availability' method='get'>
    <button type='submit' class='btn btn-info'>Done</button>
  </form>
</div>