

<form action='/projects' method='post'>
  <h2>Enter a project<h2>
    <label for='name'>Project name:</label>
    <input type='text' id='name' name='project_name'/>
    <label for='time'>Time this project will take (minutes):</label>
    <input type='text' id='time' name='project_minutes'/>
    </br>
    <input type='submit' align='left' class='btn'/>
</form>