<div class='well'>

  <h2 align='center'> <%= "#{session[:username]}'s"%> Projects</h2>
  <div class='well'>
    <ol>
  <% session[:projects].each do |name, info| %>
      <li>
        <p><strong>Name:</strong> <%= name  %></p>
      </li>
        <p>Hours: <%= "#{format_time_in_hours(info['time'])}" %></p>
      </br>
  <% end %>
    </ol>
    <% if session[:time_available] %>
      <p>Time available per day (hours): <%= "#{session[:hours_available]}"  %></p>
    <% end %>
  </div>

  <div class='row'>
     <div class='span3'>
      <form action='/project_entry' method='get'>
        <button type='submit' class='btn btn-info center'>Add Project</button>
      </form>
     </div>
      <div class='span3'>
        <form action='/availability' method='get'>
        <% if session[:time_available] %>
          <button type='submit' class='btn btn-primary center'>Change Daily Time</button>
        <% else %>
          <button type='submit' class='btn btn-primary center'>Add Daily Time</button>
        <% end %>
        </form>
      </div>
        <div class='span3'>
        <%if session[:time_available] %>
          <form action='/calculate_sprint' method='post'>
            <button type='submit' class='btn btn-success center'>See Results</button>
          </form>
        <% end %>
        </div>
      
      <div class='span1 offset1'>
        <p><a href="/new_user">Start Over</a></p>
      </div>
  </div>

</div>
