<div class='well'>
  <h2>Projects</h2>
  <% session[:projects].each do |name, time| %>
    <p>Name: <%= name %></p>
    <p>Time: <%= time %></p>
    <p>Days to complete: <%= session[:days_to_complete_projects] %></p>
  <% end %>
</div>